body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/background.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333; /* Color del texto */
}

.App {
    text-align: center;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}
