.comparar-cpus {
    margin: 20px auto;
    padding: 10px;
    background-color: #222; /* Fondo negro simple */
    color: white; /* Texto blanco */
    text-align: left; /* Texto alineado a la izquierda */
}

table {
    width: 100%;
    border: 1px solid white; /* Bordes blancos simples */
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 5px; /* Espaciado mínimo */
    border: 1px solid white; /* Bordes blancos simples */
    text-align: center;
}

th {
    background-color: #444; /* Gris oscuro */
    color: white; /* Texto blanco */
}

td {
    background-color: #333; /* Gris medio */
    color: white; /* Texto blanco */
}
